<div class="{{formHeader}}">
  <p-dialog [(visible)]="visible" [breakpoints]="{ '960px': '105vw' }" [style]="{width: 'auto'}" [maximizable]="true"
    [styleClass]="'custom-dialog-icons'">
    <p-header>
      <nb-icon icon="{{ formlogo }}"></nb-icon> {{ formTitle }}
    </p-header>
    <br>
    <form [formGroup]="form" (ngSubmit)="submitForm()" class="form-columns">
      <div class="columns">
        <div class="form-group">
          <nb-form-field  [nbSpinner]="loading">
            <nb-icon nbPrefix icon="pin"></nb-icon>
            <nb-select placeholder="Seleccione Departamento" formControlName="iddepartment">
              <nb-option *ngFor="let department of deparments" [value]="department.id">{{ department.name }}</nb-option>
            </nb-select>
          </nb-form-field>
          <div class="form-footer">
            <div class="form-alert" *ngIf="form.get('iddepartment')?.invalid && form.get('iddepartment')?.touched">
              El Departamento es requerido. </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="form-group">
          <nb-form-field>
            <nb-icon nbPrefix icon="home"></nb-icon>
            <input nbInput fullWidth type="text" placeholder="Nombre de la Provincia"
              [status]="form.get('name')?.invalid && form.get('name')?.touched ? 'danger' : 'basic'"
              formControlName="name" />
          </nb-form-field>
          <div class="form-footer">
            <div class="form-alert" *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
              El Nombre de la Provincia es Requerido. </div>
          </div>
        </div>
      </div>
    </form>
    <ng-template pTemplate="footer">
      <button nbButton status="success" (click)="submitForm()" [nbSpinner]="loading" type="submit"
        [disabled]="!form.valid">
        {{ submitButtonText }}
      </button>
    </ng-template>
  </p-dialog>
</div>