<div class="{{formHeader}}">
    <p-dialog [(visible)]="visible" [breakpoints]="{ '960px': '105vw' }" [style]="{width: 'auto'}" [maximizable]="true"
        [styleClass]="'custom-dialog-icons'">
        <p-header>
            <nb-icon icon="{{ formlogo }}"></nb-icon> {{ formTitle }}
        </p-header>
        <br>
        <form [formGroup]="form" (ngSubmit)="submitForm()" style="display: flex; flex-direction: row; justify-content: center; vertical-align: middle; gap: 25px;">
        <div style="display: flex; flex-direction: column; gap: 5px;">
            <label>
                <i class="pi pi-user"></i>Persona</label>
            <nb-select [nbSpinner]="loading" [status]="isInvalid('idperson') ? 'danger' : 'primary'"
                placeholder="Seleccionar" formControlName="idperson">
                <nb-option *ngFor="let item of persons" [value]="item.id">{{ item.name }}</nb-option>
            </nb-select>
            <small
                *ngIf="form?.get('idperson')?.invalid && (form?.get('idperson')?.dirty || form?.get('idperson')?.touched)"
                class="text-danger">
                <ng-container *ngIf="form?.get('idperson')?.hasError('required')">La Persona es
                    requerida</ng-container>
            </small>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button nbButton status="success" (click)="submitForm()" [nbSpinner]="loading" type="submit"
            [disabled]="!form.valid">
            {{ submitButtonText }}
        </button>
        <button nbButton status="basic" (click)="cancel()">Cancelar</button>
    </ng-template>
    </p-dialog>
</div>