.carousel-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(12, 13, 14, 0.8);
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  }
  
  .carousel-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: "Raleway", sans-serif;
  }
  
  .carousel-text p {
    font-size: 16px;
  }
  
  .carousel-text a {
    color: #fff;
    background: #428bca;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
  }
  
  .carousel-text a:hover {
    background: #3276b1;
  }
  
  .carousel img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    /* Asegura que la imagen cubra el área sin estirarse */
  }
  
  .map-card {
    padding: 10px;
    display: flex;
    justify-content: center;
  
    .map {
      width: 50%;
      height: 400px;
      border-radius: 10px;
      border: solid 3px #145a7a85;
  
    }
  }
  .login-toggle {
    display: none
  }
  
  @media (max-width: 991px) {
    owl-carousel-o {
      display: none;
    }
  
    #home h2 {
      font-size: 28px;
    }
  
    owl-carousel-o {
      display: none;
    }
  
    
    .login-toggle {
      display: block;
    }
  
    #home {
      height: 120vh;
    }
  
    #home .carousel,
    #home .carousel-inner,
    #home .carousel-item,
    #home .carousel-item::before {
      display: flex;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
  
    #home .carousel-item::before {
      content: "";
      background-color: rgba(12, 13, 14, 0.8);
    }
  
    #home .carousel-container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 0;
      top: 70px;
      left: 50px;
      right: 50px;
    }
  
    #home .container {
      text-align: center;
    }
  
    #home .carousel-inner .carousel-item {
      transition-property: opacity;
      background-position: center top;
    }
  
    #home .carousel-inner .carousel-item,
    #home .carousel-inner .active.carousel-item-start,
    #home .carousel-inner .active.carousel-item-end {
      opacity: 0;
    }
  
    #home .carousel-inner .active,
    #home .carousel-inner .carousel-item-next.carousel-item-start,
    #home .carousel-inner .carousel-item-prev.carousel-item-end {
      opacity: 1;
      transition: 0.5s;
    }
  
    #home .carousel-control-next-icon,
    #home .carousel-control-prev-icon {
      background: none;
      font-size: 30px;
      line-height: 0;
      width: auto;
      height: auto;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 50px;
      transition: 0.3s;
      color: rgba(255, 255, 255, 0.5);
      width: 54px;
      height: 54px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    #home .carousel-control-next-icon:hover,
    #home .carousel-control-prev-icon:hover {
      background: rgba(255, 255, 255, 0.3);
      color: rgba(255, 255, 255, 0.8);
    }
  
    #home .carousel-indicators li {
      list-style-type: none;
      cursor: pointer;
      background: #fff;
      overflow: hidden;
      border: 0;
      width: 12px;
      height: 12px;
      border-radius: 50px;
      opacity: 0.6;
      transition: 0.3s;
    }
  
    #home .carousel-indicators li.active {
      opacity: 1;
      background: #428bca;
    }
  
    #home .btn-get-started {
      font-family: "Raleway", sans-serif;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 1px;
      display: inline-block;
      padding: 14px 32px;
      border-radius: 4px;
      transition: 0.5s;
      line-height: 1;
      color: #fff;
      animation-delay: 0.8s;
      background: #428bca;
    }
  
    #home .btn-get-started:hover {
      background: #5697d0;
    }
  
    .about .play-btn {
      width: 380px;
      height: 350px;
      /*   border-radius: 50%; */
      display: block;
      position: absolute;
      left: calc(15% - 47px);
      top: calc(5% - 47px);
      overflow: hidden;
    }
  
    .map-card {
      padding: 10px;
      display: flex;
      justify-content: center;
  
      .map {
        width: 80%;
        height: 400px;
        border-radius: 10px;
        border: solid 3px #145a7a85;
  
      }
    }
  }