<p-table #dt [value]="items" dataKey="id" [rowHover]="true" [rows]="10" [totalRecords]="totalRecords"
  [showCurrentPageReport]="true" [rowsPerPageOptions]="[5, 10, 25, 50]" [loading]="loading" [lazy]="true"
  (onLazyLoad)="getData($event)" [paginator]="true" responsiveLayout="stack" [breakpoint]="'960px'"
  styleClass="p-datatable-sm" currentPageReportTemplate="Pagina {first} con {last} de {totalRecords} filas"
  [filterDelay]="0" [globalFilterFields]="['department, province, municipality, name']">

  <ng-template pTemplate="caption">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input pInputText type="text" tyle="width: auto" [(ngModel)]="filterValue" (input)="filterByName()"
        placeholder="Buscar Locacion..." />
    </span>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="id">
        ID
        <p-sortIcon field="id"></p-sortIcon>
      </th>
      <th pSortableColumn="department" class="table-column">
        Departamento
        <p-sortIcon field="department"></p-sortIcon>
      </th>
      <th pSortableColumn="province" class="table-column">
        Provincia
        <p-sortIcon field="province"></p-sortIcon>
      </th>
      <th pSortableColumn="municipality" class="table-column">
        Municpio
        <p-sortIcon field="municipality"></p-sortIcon>
      </th>
      <th pSortableColumn="community" class="table-column">
        Comunidad
        <p-sortIcon field="community"></p-sortIcon>
      </th>
      <th pSortableColumn="location" class="table-column">
        Locacion
        <p-sortIcon field="location"></p-sortIcon>
      </th>
      <th pSortableColumn="createdAt" class="table-column">
        Creado
        <p-sortIcon field="createdAt"></p-sortIcon>
      </th>
      <th pSortableColumn="createdUpd" class="table-column">
        Ult. Actualizacion
        <p-sortIcon field="createdUpd"></p-sortIcon>
      </th>
      <th>Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-location>
    <tr>
      <td><span class="p-column-title">ID</span>{{ location.id }}</td>
      <td><span class="p-column-title">Departamento</span>{{ location.department }}</td>
      <td><span class="p-column-title">Provincia</span>{{ location.province }}</td>
      <td><span class="p-column-title">Municipio</span>{{ location.municipality }}</td>
      <td><span class="p-column-title">Locacion</span>{{ location.community }}</td>
      <td><span class="p-column-title">Comunidad</span>{{ location.name }}</td>
      <td><span class="p-column-title">Creado</span>{{ location.createdAt | date : "dd/MM/yy HH:mm" }}</td>
      <td><span class="p-column-title">Ult. Actualizacion</span>{{ location.createdUpd | date : "dd/MM/yy HH:mm" }}</td>
      <td>
        <div class="btn-spacer">
          <button (click)="dialog(location.id)" nbButton size="tiny" status="warning">
            <nb-icon icon="edit"></nb-icon>
          </button>
          <button (click)="dialogDelete(location.id)" nbButton size="tiny" status="danger">
            <nb-icon icon="trash"></nb-icon>
          </button>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="paginatorleft">
    <p-button type="button" icon="pi pi-replay" (click)="refreshTable()" styleClass="p-button-text"></p-button>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="7">Tabla Vacia.</td>
    </tr>
  </ng-template>
</p-table>