<div class="{{formHeader}}">
  <p-dialog [(visible)]="visible" [breakpoints]="{ '960px': '105vw' }" [style]="{width: '30vw'}" [maximizable]="true"
    [styleClass]="'custom-dialog-icons'">
    <p-header>
      <nb-icon icon="{{ formlogo }}"></nb-icon> {{ formTitle }}
    </p-header>
    <br>
    <form [formGroup]="form" (ngSubmit)="submitForm()">
      <div class="form-columns">
        <div class="columns">
          <div>
            <button pButton pRipple Tooltip="Generar Codigo Unico para la Estacion" tooltipPosition="bottom"
              class="p-button-success" type="button" (click)="generateRandomString()"> Genear Codigo </button>
          </div>
          <div class="form-group">
            <div class="form-extra">
              <p> {{status}} </p>
              <nb-toggle formControlName="status" [checked]="toggleValue" status="success"
                (change)="onToggleChange()"></nb-toggle>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="form-group">
            <nb-form-field>
              <nb-icon nbPrefix icon="smartphone"></nb-icon>
              <input nbInput fullWidth type="text" placeholder="Codigo Estacion"
                [status]="form.get('name')?.invalid && form.get('name')?.touched ? 'danger' : 'basic'"
                formControlName="name" [maxlength]="11" />
            </nb-form-field>
            <div class="form-footer">
              <div class="form-alert" *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
                El nombre es requerido o puede generarlo. </div>
              <div class="spacer"> </div>
              <div class="form-hint">{{ form.get('name')?.value?.length || 0 }} / 11</div>
            </div>
          </div>
          <div class="form-group">
            <nb-form-field>
              <nb-icon nbPrefix icon="pin"></nb-icon>
              <nb-select placeholder="Seleccione la Locacion" formControlName="idlocation">
                <nb-option *ngFor="let location of locations" [value]="location.id">{{ location.name }}</nb-option>
              </nb-select>
            </nb-form-field>
            <div class="form-footer">
              <div class="form-alert" *ngIf="form.get('idlocation')?.invalid && form.get('idlocation')?.touched">
                La Locacion es requerida. </div>
            </div>
          </div>

        </div>
      </div>
    </form>
    <ng-template pTemplate="footer">
      <button nbButton status="success" (click)="submitForm()" [nbSpinner]="loading" type="submit"
        [disabled]="!form.valid">
        {{ submitButtonText }}
      </button>
      <button nbButton status="basic" (click)="cancel()">Cancelar</button>
    </ng-template>
  </p-dialog>
</div>