<div class="{{formHeader}}">
  <p-dialog [(visible)]="visible" [breakpoints]="{ '960px': '105vw' }" [style]="{width: 'auto'}" [maximizable]="true"
    [styleClass]="'custom-dialog-icons'">
    <p-header>
      <nb-icon icon="{{ formlogo }}"></nb-icon> {{ formTitle }}
    </p-header>
    <br>
    <form [formGroup]="form" (ngSubmit)="submitForm()" class="form-class">
      <div class="form-columns">
        <div class="columns">
          <div class="form-group">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <i class="pi pi-user"></i>
              </span>
              <span class="p-float-label">
                <nb-select placeholder="Componente" fullWidth formControlName="idcomponent"
                  [(selected)]="selectedComponente"  (selectedChange)="filterComponent($event)">
                  <nb-option *ngFor="let comp of componentData" [value]="comp.id">{{ comp.name }}</nb-option>
                </nb-select>
              </span>
            </div>
            <div class="form-small">
              <small class="p-error" *ngIf="form.get('idcomponent')?.invalid && form.get('idcomponent')?.touched">
                El Campo es requerido
              </small>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="form-columns">
            <ng-container *ngIf="formShow">
              <div class="columns">
                <div class="form-group">
                  <nb-checkbox formControlName="crear">Crear</nb-checkbox>
                </div>
                <div class="form-group">
                  <nb-checkbox formControlName="editar">Editar</nb-checkbox>
                </div>
              </div>
            </ng-container>    
            <div class="columns">          
              <div class="form-column">
                <div class="form-group">
                  <nb-checkbox formControlName="ver">Ver</nb-checkbox>
                </div>          
              </div>
              <ng-container *ngIf="formShow">
                <div class="form-column">
                  <div class="form-group">
                    <nb-checkbox formControlName="eliminar">Eliminar</nb-checkbox>
                  </div>          
                </div>
              </ng-container>         
            </div>
          </div>
        </div>
      </div>
    </form>
    <ng-template pTemplate="footer">
      <div class="dialog-button">
        <button nbButton status="success" type="submit" [disabled]="!form.valid" (click)="submitForm()"><nb-icon
            icon="checkmark"></nb-icon>{{submitButtonText}}</button>
        <button nbButton status="danger" (click)="cancel()"><nb-icon icon="close"></nb-icon>Cancelar</button>
      </div>
    </ng-template>
  </p-dialog>
</div>