<p-toolbar styleClass="table-header mb-4 gap-2">
  <div class="search-input">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input pInputText type="text" (input)="filterByName($event)" placeholder="Buscar Cliente..."
      />
    </span>    
  </div>
  <div class="btn-spacer">
    <button pButton pRipple label="Nuevo" icon="pi pi-plus" (click)="dialog()" pTooltip="Agregar Cliente" tooltipPosition="bottom" class="p-button-success"></button>
  </div>
  <div class="spacer"></div>
</p-toolbar>
<br>
<p-table
  #dt
  [value]="clientData"
  dataKey="id"
  [rowHover]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[5, 10, 25, 50]"
  [loading]="loading"
  [paginator]="true"
  responsiveLayout="stack"
  [breakpoint]="'960px'"
  styleClass="p-datatable-gridlines"
  currentPageReportTemplate="Pagina {first} con {last} de {totalRecords} filas"
  [filterDelay]="0"
  [globalFilterFields]="['name']">
<ng-template pTemplate="caption">        
  <nb-icon nbPrefix icon="list"></nb-icon> 
  Lista de Usuarios    
</ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="id" >
        ID
        <p-sortIcon field="id"></p-sortIcon>
      </th>
      <th pSortableColumn="name" class="table-column">
        Nombre
        <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th pSortableColumn="ci" class="table-column">
        Nº Carnet
        <p-sortIcon field="id"></p-sortIcon>
      </th>
      <th pSortableColumn="number" class="table-column">
        Nº Telefono
        <p-sortIcon field="number"></p-sortIcon>
      </th>
      <th pSortableColumn="rol" class="table-column">
        Rol
        <p-sortIcon field="rol"></p-sortIcon>
      </th>
      <th pSortableColumn="location" class="table-column">
        Locacion
        <p-sortIcon field="location"></p-sortIcon>
      </th>
      <th pSortableColumn="createdAt" class="table-column">
        Fecha Creado
        <p-sortIcon field="createdAt"></p-sortIcon>
      </th>
      <th>Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-client>
    <tr>
      <td><span class="p-column-title">ID</span>{{ client.id }}</td>
      <td><span class="p-column-title">Nombre</span>{{ client.name }}</td>
      <td><span class="p-column-title">Nº Carnet</span>{{ client.ci }}</td>
      <td><span class="p-column-title">Nº Telefono</span>{{ client.number }}</td>
      <td><span class="p-column-title">Rol</span>{{ client.rol }}</td>
      <td><span class="p-column-title">Locacion</span>{{ client.location }}</td>
      <td>
        <span class="p-column-title">Fecha Creado</span>{{ client.createdAt | date : "dd/MM/yy HH:mm" }}
      </td>
      <td>
        <div class="btn-spacer">
          <button
            (click)="dialog(client.id)"
            nbButton
            outline
            status="success"
          >
            <nb-icon icon="edit"></nb-icon>
          </button>
          <button
            (click)="dialogDelete(client.id)"
            nbButton
            outline
            status="danger"
          >
            <nb-icon icon="trash"></nb-icon>
          </button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
